:root{
    --fondomain-- : #F5F2CD ;
    --fondoheader-- :#9FC131;
    --letras--: #005c53;
    --fondotablas-- : #D6D58E;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
a{
    text-decoration: none !important;
    color: black !important;
}
.main{
    background-color: var(--fondomain--);
}

.header{
    background-color: var(--fondoheader--);
}
.dodo{
    margin-top: 15%;
}
.personal{
    margin-top: 18%;
}

.nombre {
    font-family: "Josefin Sans", sans-serif;
    color: var(--letras--);
    }

.footer{
    background-color: var(--fondoheader--);
}

.nomReto{
    background-color: var(--fondoheader--);
    border: solid 5px var(--letras--);
}

.descripcion{
    border: solid 3px var(--letras--);
    background-color: var(--fondotablas--);
}