@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

header,footer
{
    background-color: #9FC131;
}

.nombre
{
    font-family: "Josefin Sans", sans-serif;
    color:#005C53;
}

body
{
    background-color: #F4EEA9;
}

.newBody
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logoHada
{
    height: 80px;
    width: 100px;
}

.logoH
{
    height: 60px;
    width: 60px;
}

.logo,.logoR
{
    height: 80px;
    width: 80px;
}

.logo
{
    padding: 0px 7px 0px 0px;
}

.logoR
{
    transform: scaleX(-1);
}

.head
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.foot
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px 10px 10px 10px;
}

.grups
{
    padding: 1% 15% 1% 15%;
    font-size: 20px;
    background-color: #D6D58E;
    border: 3px solid #064635;
    margin-top: 2%;
}

.grups:active
{
    padding: 1% 15% 1% 15%;
    font-size: 20px;
    background-color: #064635;
    color:#ffffff;
    border: 3px solid #064635;
}

.div1
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60%;
}

.div2
{
    height: 100%;
    width: 40%;
    align-items: center;
}

.divGrupo
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.divBotones
{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
}