@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

header,footer
{
    background-color: #9FC131;
}

footer
{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

body
{
    background-color: #F4EEA9;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.logo{
    width: 10%;
}

.logoR
{
    transform: scaleX(-1);
}

.newBody
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    vertical-align: text-top;
}

.grups
{
    padding: 5% 30% 5% 30%;
    font-size: 20px;
    background-color: #D6D58E;
    border: 3px solid #064635;
    margin-top: 5%;
}

.grups:active
{
    padding: 5% 30% 5% 30%;
    font-size: 20px;
    background-color: #064635;
    color:#ffffff;
    border: 3px solid #064635;
    margin-top: 5%;
}

.div1
{
    margin-top: 15%;
    margin-left: 10%;
}

.div2
{
    margin-top: 7%;
    margin-right: 10%;
}